@import "../../styles/constants.css";

.finance-simulation-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FAFAFA;
  padding: var(--spacing-padding);
  max-width: 1200px; 
  margin: 0 auto; 
}

.input-button-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.simulate-button {
  width: 25%;
}

@media (max-width: 768px) {
  .title {
    align-self: flex-start;
  }

  .input {
    margin: 0;
    width: 80%;
  }

  .finance-simulation-form {
    width: 100%;
    padding: var(--spacing-smallPadding);
    margin-bottom: var(--spacing-smallMargin);
    align-items: center;
  }

  .down-payment-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .car-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .select {
    width: 80%;
    padding: var(--spacing-smallPadding);
    font-size: var(--fonts-medium);
    margin: 0;
  }

  .input-button-group {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  .simulate-button {
    width: 50%;
    margin-left: 0;
    margin-top: var(--spacing-smallMargin);
    height: 40px;
  }
}
