@import "../../styles/constants.css";

.finance-simulation-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FAFAFA;
  padding: var(--spacing-padding);
  border-radius: var(--borderRadius-small);
  max-width: 1200px; /* Match container width */
  margin: 0 auto; /* Center align */
}

.input-button-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Desktop margin-bottom */
}

.purple-button {
  margin-left: var(--spacing-smallMargin);
}

@media (max-width: 1024px) {
  .input-button-group {
    flex-direction: column;
    align-items: center;
  }

  .purple-button {
    width: 100%; /* Full width on tablet or smaller */
    margin-left: 0;
    margin-top: var(--spacing-smallMargin);
  }
}
