.header {
  background-color: #7d28f7;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    padding: 8px 0;
  }
}
