@import "../../styles/constants.css";

.simulated-values-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spacing-padding);
  background-color: #FAFAFA;
  width: 100%;
  height: 100%;
}

.title {
  text-align: left;
  margin-bottom: var(--spacing-margin);
  font-size: var(--fonts-medium);
  color: var(--colors-black);
}

.installments-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-smallMargin);
  width: 50%;
}

.installment-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-smallPadding);
  border: 1px solid #ddd;
  border-radius: var(--borderRadius-small);
  background-color: #fff;
  width: 100%;
}

.installment-card.highlight {
  grid-column: span 2;
  border-color: var(--colors-primary);
}

.installment-label {
  align-self: flex-start;
  font-size: var(--fonts-medium);
  color: var(--colors-black);
}

.installment-value {
  align-self: flex-start;
  font-size: var(--fonts-large);
  font-weight: 700;
  color: var(--colors-primary);
}

.badge {
  margin-top: var(--spacing-smallMargin);
  padding: var(--spacing-extraSmallPadding) var(--spacing-smallPadding);
  background-color: var(--colors-primary);
  color: #fff;
  border-radius: var(--borderRadius-small);
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: var(--spacing-margin);
}

.whatsapp-button {
  background-color: #25D366;
  color: #fff;
  padding: var(--spacing-smallPadding) var(--spacing-padding);
  text-decoration: none;
  border-radius: 20px;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  width: 66%;
  text-align: center;
}

.whatsapp-button:hover {
  background-color: #34E889;
}

.contact-label {
  width: 33%;
  text-align: right;
  color: #000;
  font-weight: 600;
}

@media (max-width: 768px) {
  .simulated-values-panel {
    align-items: center;
    padding: var(--spacing-smallPadding);
    margin-bottom: var(--spacing-smallMargin);
  }

  .title {
    text-align: left;
  }

  .installments-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-smallMargin);
    width: 100%;
  }

  .installment-card.highlight {
    grid-column: span 1;
  }

  .action-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .whatsapp-button,
  .contact-label {
    width: 100%;
    text-align: center;
    margin-bottom: var(--spacing-smallMargin);
    margin-top: var(--spacing-smallMargin);
  }

  .whatsapp-button {
    margin-bottom: 0;
  }
}
