@import "../../styles/constants.css";

.card {
  border: 1px solid #ddd;
  padding: var(--spacing-padding);
  margin: var(--spacing-margin);
  text-align: center;
  background-color: var(--colors-background);
  border-radius: var(--borderRadius-small);
}

@media (max-width: var(--breakpoints-tablet)) {
  .card {
    padding: var(--spacing-smallPadding);
    margin: var(--spacing-smallMargin);
  }
}
