@import "../../styles/constants.css";

.down-payment-input {
  margin-bottom: var(--spacing-margin);
}

.title {
  text-align: center;
  margin-bottom: var(--spacing-smallMargin);
  font-size: var(--fonts-large);
}

.input {
  width: 100%;
  padding: var(--spacing-smallPadding);
  font-size: var(--fonts-medium);
}

@media (max-width: var(--breakpoints-tablet)) {
  .input {
    padding: var(--spacing-smallPadding);
    font-size: var(--fonts-small);
  }
}
