@import "../../styles/constants.css";

.button {
  background-color: var(--colors-buttonBackground);
  color: var(--colors-buttonText);
  padding: var(--spacing-smallPadding) var(--spacing-padding);
  border: none;
  border-radius: var(--borderRadius-small);
  cursor: pointer;
  font-size: var(--fonts-medium);
}

.button:hover {
  background-color: var(--colors-primary);
}
