@import "../../styles/constants.css";

.button {
  background-color: var(--colors-buttonBackground);
  color: var(--colors-buttonText);
  padding: var(--spacing-smallPadding) var(--spacing-padding);
  border: none;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  font-size: var(--fonts-medium);
  margin-left: var(--spacing-smallMargin);
}

.button:hover {
  background-color: var(--colors-primary);
}

.purple-button {
  font-weight: 600;
  background-color: var(--colors-primary);
}

.purple-button:hover {
  background-color: #7e57c2; /* Lighter purple */
}
