@import "../../styles/constants.css";

.input {
  padding: var(--spacing-smallPadding);
  width: 60%;
  font-size: var(--fonts-medium);
}

@media (max-width: var(--breakpoints-tablet)) {
  .input {
    padding: var(--spacing-smallPadding);
    font-size: var(--fonts-small);
  }
}
