:root {
  --spacing-padding: 20px;
  --spacing-smallPadding: 10px;
  --spacing-extraSmallPadding: 5px;
  --spacing-margin: 20px;
  --spacing-smallMargin: 10px;
  --spacing-extraSmallMargin: 5px;

  --borderRadius-small: 5px;
  
  --fonts-large: 1.5rem;
  --fonts-medium: 1rem;
  --fonts-small: 0.875rem;
  
  --colors-primary: #7e57c2;
  --colors-buttonBackground: #7e57c2;
  --colors-buttonText: #fff;

  --breakpoints-mobile: 630px;
  --breakpoints-tablet: 768px;
}
